body { 
    background: #FFFFFF; 
    font-size: 14pt;
    font-family: sans-serif;
}

h1 { 
    color: #800000; 
    font-family: sans-serif; 
    font-size: 20pt; 
}

h2 { 
    color: #800000; 
    font-family: sans-serif; 
    font-size: 18pt; 
}

h3 { 
    color: #800000; 
    font-family: sans-serif; 
    font-size: 16pt; 
}

h4, h5 {
    font-family: sans-serif; 
    font-size: 14pt;
}

span.term { 
    font-weight: bold; 
}

div.sidebar { 
    background: #F0F0F0; 
    border: 1px solid gray; 
    padding: 5px; 
    margin: 20px; 
}

pre.programlisting { 
    background: #F0F0F0; 
    border: 1px solid gray; 
    padding: 2px; 
    font-size: 12pt;
    white-space: pre;
}
