body { 
    background: #FFFFFF; 
    font-size: 14pt;
    font-family: sans-serif;
}

td,th {
    background: #FFFFFF; 
    font-size: 14pt;
    font-family: sans-serif;
	border-color:gray;
}

h1 { 
    color: #800000; 
    font-family: sans-serif; 
    font-size: 20pt; 
}

h2 { 
    color: #800000; 
    font-family: sans-serif; 
    font-size: 18pt; 
}

h3 { 
    color: #800000; 
    font-family: sans-serif; 
    font-size: 16pt; 
}

h4, h5 {
    font-family: sans-serif; 
    font-size: 14pt;
}

span.term { 
    font-weight: bold; 
}

div.sidebar { 
    background: #F0F0F0; 
    border: 1px solid gray; 
    padding: 5px; 
    margin: 20px; 
}

pre.programlisting { 
    background: #F0F0F0; 
    border: 1px solid gray; 
    padding: 2px; 
    font-size: 12pt;
    white-space: pre;
}

span.guimenuitem, span.guimenu {
	font-variant:small-caps;
	font-stretch:extra-condensed;
	color:#0000A0;
}

span.guibutton {
  /*background: #C0C0C0; 
  border: 1px solid gray; */
  color:#000000;
  text-transform:uppercase;
  font-family: monospace;
}

informaltable.table {
  border-width:1px;
}

span.markup {
  font-family: courier;
  white-space: pre;
}

div.note {
  background: #F0F0F0; 
  border: 1px solid #CCCCCC;
  margin-top:10px;
}

div.note p {
  margin:0px;
  margin-top:5px;
}

div.note h3 { 
    font-size: 14pt;
    font-family: sans-serif;
    padding:0px;
    margin:0px;
}
